@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Exo 2';
}

@mixin bg-color {
  background: #0B7572;
}

@mixin logo-bg-color {
  background: #E9E9EC;
}

@mixin line-bottom {
  &::after {
    content: '';
    width: 104px;
    display: block;
    border: 1.7px solid #FFCE50;
    background-color: #FFCE50;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 100px;
  
}

// delivery section

.delivery {
  margin-bottom: 67px;

  // .container {

    
    .delivery-container {
      display: flex;

      .delivery-box {
        margin-top: 190px;

        .title {
          font-weight: 600;
          font-size: 52px;
          line-height: 125%;
        }

        .description {
          width: 525px;
          font-family: "PT sans";
          line-height: 150%;
          color: #6B6B6C;
          margin: 40px 0;
        }

        &__link {
          font-family: 'PT Sans';
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: #363738;

          &::after {
            content: '';
            width: 104px;
            display: block;
            border: 1.7px solid #FFCE50;
            background-color: #FFCE50;
          }
        }

        
      }
      &__bg-color {
        position: absolute;
        right: 0px;
        z-index: -1;
        width: 832px;
        height: 787px;
        @include bg-color;
      }

      .fura-box {
        margin-top: 109px;
        img {
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }
    }
  // }
}